@import '../colors';

.blog-box {
    border-style: solid;
    border-width: 5px;
    border-color: $darkbluegrey;
    margin: 1%;
    h2 {
        text-align: center;
        margin-top: 1%; 
        margin-bottom: 1%;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font-weight: normal;
    }
    p {
        margin: 1% 1% 1%;
    }
    div {
        display: flex;
        justify-content: space-between;
    }

}
.nav-link-item {
    color: blue;
    text-decoration: none;
}
