@import '../colors';

.background {
    background-color: $lightbluegrey;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    min-height: 100vh;
    background-color: white;
    font-family: sans-serif;
}
.site-title {
    font-size: 3rem;
    color: $darkbluegrey;
    font-weight: 700;
    margin: 2% auto 0;
}
.site-sub-title{
    color: $darkbluegrey;
    margin: 2% auto 2%;
}
.body {
    margin: 2%;
}
.heading {
    color: black;
}
.text {
    line-height: 1.5;
    font-size: 18px;
}
